* {
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Verdana", "sans-serif";
}

body {
  background-color: #212024;
  color: #FFFFFF;
}

h1 {
  text-align: center;
}

.main-img {
  display: block;
  margin: 0px auto;
  width: auto;
  height: 300px;
  border: 2px solid #FFFFFF;
}

.dish-description {
  font-style: italic;
}

.main {
  margin: auto 20px;
}
